body{
    background-repeat: repeat-y;
    background-image: url('../img/fondo.jpg');
    background-position: center;
}

div.menu {
    background-color: #333;
}

div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}

h1,td{
    color: azure;
}

#login{
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.28) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,0.28)));
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.28) 100%);
    background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.28) 100%);
    background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.28) 100%);
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,0.28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 20px;
    -webkit-box-shadow: 11px 16px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 16px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 16px 5px 0px rgba(0,0,0,0.75);
}
/*
table{
    border: 1px solid black;
}*/